$logoColor: #ffffff;
$titleCardColor: #ffffff;
$siteTitle: #ffffff;
$textSelection: #ff4e33;
$bgButton: #e3ac00;
$bgBody: #21232e;
$bgArticle: #3b3f50;
$gradient: #932d52;
$bgFooter: #3b3f50;
$footerText: #d1d1d1;
$background-img: url("./../img/m-h-night.jpg");
