$logoColor: #3b3f50;
$titleCardColor: #ffffff;
$siteTitle: #2c2f3c;
$textSelection: #14a0c7;
$bgButton: #699900;
$bgBody: #ffffff;
$bgArticle: #21232e;
$gradient: #2d5cd7;
$bgFooter: #21232e;
$footerText: #d1d1d1;
$background-img: url("./../img/m-h-day.jpg");
